@font-face {
    font-family: "Montserrat";
    src: url('/public/fonts/Montserrat-Regular.ttf');
    font-style:normal;
    font-weight:bold;
}
@font-face {
    font-family: "Roboto-R";
    src: url('/public/fonts/Roboto-Regular.ttf');
    font-style:normal;
}
@font-face {
    font-family: "china";
    src: url('/public/fonts/MaShanZheng-Regular.ttf');
    font-style:normal;
}

@font-face {
    font-family: "BPGGELv2";
    src: url('/public/fonts/BPGGELv2.woff2');
    font-style:normal;
}
@font-face {
    font-family: "Roboto-M";
    src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: "Roboto-B";
    src: url('/public/fonts/Roboto-Bold.ttf');
    font-weight:700;
}
@font-face {
    font-family: "BPG 2017 DejaVu Sans Caps";
    src: url('/public/fonts/BPG-2017-DejaVu-Sans-Caps.ttf');
    font-style:normal;
}
